@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: var(--font-roboto);
  background-color: white;
}

h1 {
  font-family: var(--font-poppins);
  font-weight: 900;
}

hr {
  border-color: black;
  opacity: 0.1;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.slick-slide > div {
  margin: 0 20px;
  padding: 0 30px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
